<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Neverest</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  
  <link rel="stylesheet" href="assets/css/style.css">

   <script>
    console.log('Hola Mundo!');
   </script>
</head>

<body>
   <!--Musica-->
   

  <!-- ======= Empezar ======= -->
  <section id="hero">
    <div class="hero-container">
      <a class="hero-logo" data-aos="zoom-in"><img src="assets/img/hero-logo.png" alt=""></a>
      <embed src="assets/C418 Subwoofer.mp3" loop="true" autostart="true" width="2" height="0">
    </div>
  </section><!-- Termina Empezar -->

  <!-- ======= Cabezera ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      

      <div class="logo">
        <a><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Acerca</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicio</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Equipo</a></li>
          <li><a class="nav-link scrollto" href="#project">Proyectos</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Oferta</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>  
      </nav><!-- .navbar -->

    </div>
  </header><!-- Cabezera -->

  <main id="main">

    <!-- ======= Acerca Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Acerca de nosotros</h2>
          <p>"Quienes nunca descansan"</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="assets/img/test5pixelart.gif" class="img-fluid col-lg-10" alt="">
            </div>
          </div>
          <div class="col-lg-5" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3>EL ARBOL DE EVEREST</h3>
              <p class="fst-italic">
                "Cuando miro a la cima de la montaña en mi mente ya he fracasado, es entonces cuando comienzo a escalar."
              </p>
              <ul>
                <li><i class="bi bi-braces"></i> Startup de desarrolladores</li>
                <li><i class="bi bi-check-all"></i> Servicio de tecnologia & informatica</li>
                <li><i class="bx bi-chat-square-dots"></i> Asesoria y comunicaciones.</li>
              </ul>
              <p>
                El Arbol o "The Tree" es una startup de desarrollo conformado por programadores, diseñadores y informaticos con experiencia en los campos tecnologicos. Nuestro trabajo es ofrecer un servicio selecto de preferencia de nuestro cliente. En los campos que esten siendo requeridos desde: diseño grafico, desarollo web hasta mecatronica.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Servicios Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title col-lg-5 order-1 order-lg-2" data-aos="fade-up">
          <h2>Servicios y Planes</h2>
          <p class="frst-italic">
            <i class="bi bi-hdd-rack-fill"></i> Campos de oferta generales.
          </p>  
        </div>

        <div class="row">
          <div class="col-lg-5 order-1 order-lg-2">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
              <i class="bi bi-ui-checks"></i>
              <h4>Asesoramiento en informatica.</h4>
              <p>Ofrecemos un asesoramiento completo en todos los campos de la informatica y tecnologia, respondiendo ante cualquier circustancia presentada.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-terminal-fill"></i>
              <h4>Diseño Grafico</h4>
              <p>La startup ofrece servicos en diseño grafico muy completo atravez de solicitudes, de todo lo que el cliente necesite. Desde imagenes, ediciones hasta animaciones.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-stack"></i>
              <h4>Programacion y Desarrollo</h4>
              <p>Ofrecemos servicios en programacion, desarollo y diseño 3D en multiples campos: APP's, Webs, Estructura de Datos, API y Dependencias. En el lenguaje preferido, ademas de un asesoramiento breve al respecto.</p>
            </div>
          </div>
          <div class="image col-lg-3 order-1 order-lg-2" style='background-image: url("assets/img/test6pixelart.gif ");' data-aos="fade-left" data-aos-delay="100"></div>
          <img src="assets/img/test1pixelart.gif" class="img-fluid col-4 order-1 order-lg-3" alt="">
        </div>
      </div>
    </section><!-- Servicios Section -->


    <!-- ======= Equipo Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">
        <div class="quote-icon">
          <i class="bx bxs-quote-right"></i>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  "No hay nada que podamos hacer."
                </p>
                <img src="assets/img/testimonials/testimonialsam.gif" class="testimonial-img" alt="">
                <h3>Sam "Cosmico Ama La Menta"</h3>
                <h4>Creador &amp; Desarrollador</h4>
              </div>
            </div> <!-- 1 item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                 "Dormir no da profit."
                </p>
                <img src="assets/img/testimonials/testimonials-2.png" class="testimonial-img" alt="">
                <h3>Castillo "El Numeros"</h3>
                <h4>Creativo &amp; Publicitario</h4>
              </div>
            </div>  <!-- 2 item -->
            
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                 "¿Que dijiste de mi mami?"
                </p>
                <img src="assets/img/testimonials/testimonialtiago.jpg" class="testimonial-img" alt="">
                <h3>Santiago "Shadow de fraude fiscal"</h3>
                <h4>Administrador &amp; Publicitario</h4>
              </div>
            </div> <!-- 3 item -->
          
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- Equipo Section -->


    <!-- ======= Project Section ======= -->
    <section id="project" class="project">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Proyectos</h2>
          <p>Proyectos actuales realizados por el equipo.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in">
              <div class="member-img">
                <img src="assets/img/projects/project.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Proyecto 'Chana's'</h4>
                <span>Negocio de servicios especiales.</span>
                <p>Chana's es un servicio de comidas y eventos especiales cuya mision es ofrecer comida de alta calidad a un precio accesible. El Proyecto trata la realizacion de una pagina con el fin de administrar. Desarrollada con HTML5, CSS3, Javascript, Mongodb y varias depencencias.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/projects/project2.jpg" class="img-fluid" alt="">
          
              </div>
              <div class="member-info">
                <h4>Proyecto 'TREE'</h4>
                <span>Studio de Desarrollo.</span>
                <p>Tree o "Arbol" es un proyecto a largo plazo cuya mision es ser un studio de desarrollo en una gamma de campos muy amplia. Liderada por 'Cosmic', este proyecto tiene multiples subindices y codepencias las cuales pertenencen a TREE. Vease 'AscenT'</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/projects/project3.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Proyecto 'Electromecanico' </h4>
                <span>Garra robotica</span>
                <p>Miembros de la startup estan en proceso de trabajo de un proyecto de mecatronica la cual realiza una garra robotica con elementos electromecanicos con el fin de ser presentado en su institucion.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Ofertas de Servicio</h2>
          <p>Precios y ofertas de cada plan de servicio.</p>
        </div>

        <div class="row">

         

          <div class="col-lg-4 col-md-6">
            <div class="box common" data-aos="zoom-in" data-aos-delay="100">
              <span class="badge bg-info text-dark"><i class="bi bi-laptop"></i> Comun</span>
              <h3>Gratis</h3>
              <h4><sup>$</sup>0<span> / mes</span></h4>
              <ul>
                <li>Asesoramiento en Informatica</li>
                <li class ="na">Diseño de Interfaz de Usuario</li>
                <li class="na">Diseño de Interfaz de Experiencia</li>
                <li class="na">Programacion Basica</li>
                <li class="na">Programacion Regular con Javascript</li>
                <li class="na">Programacion Avanzada con Luau</li>
              </ul>
              <div class="btn-buy">
                <a class="nav-link scrollto" href="#contact">Contacta</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in">
              <span class="badge bg-danger text-dark"><i class="bi bi-lightning-charge"></i> Recomendado</span>
              <h3>Plan de Trabajo</h3>
              <h4><sup>$</sup>20.000<span> / mes</span></h4>
              <ul>
                <li class="text-right list-inline">Asesoramiento en Informatica</li>
                <li>Diseño de Interfaz de Usuario</li>
                <li>Diseño de Interfaz de Experiencia</li>
                <li class="na">Programacion Basica</li>
                <li class="na">Programacion Regular con Javascript</li>
                <li class="na">Programacion Avanzada con Luau</li>
              </ul>
              <div class="btn-buy">
                <a class="nav-link scrollto" href="#contact">Contacta</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box hotter" data-aos="zoom-in" data-aos-delay="100">
              <span class="badge bg-warning text-dark"><i class="bi bi-signpost-split"></i> ¡Ambiguo!</span>
              <h3>Plan de Desarrollador</h3> 
              <h4><sup>$</sup>30.000<span> / mes</span></h4>
              <ul>
                <li>Asesoramiento en Informatica</li>
                <li>Diseño de Interfaz de Usuario</li>
                <li>Diseño de Interfaz de Experiencia</li>
                <li>Programacion Basica</li>
                <li>Programacion Regular con Javascript</li>
                <li class="na">Programacion Avanzada con Luau</li>
              </ul>
              <div class="btn-buy">
                <a class="nav-link scrollto" href="#contact">Contacta</a>
              </div>
            </div>
          </div>


          


        </div>

      </div>
    </section><!-- End Pricing Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
        <p>De ser solicitado un servicio adicional porfavor contactar para realizar una cotizacion y comision.</p>
        </div>

        <div class="row">
        

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
               <div class="RowTittle">       
                <h4>Lista de Contactos</h4>
               </div>
              
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Correo:</h4>
                <p>neverrestpeak@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-whatsapp"></i>
                <h4>WhatsApp:</h4>
                <p>+57 3016996277</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="assets/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-left">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujeto" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Descripcion" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="assets/img/hero-logo.png" alt=""></a>
            <h3>[N]EVER[R]EST</h3>
            <p>"Work all day and then I wake up."</p>
          </div>
        </div>

      
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>[N]EVER[R]EST</span></strong>. Todos los derechos reservados. (O compralos por 20k)
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>